sudo: false

language: go
install: true
notifications:
  emails: false
script:
  - go test -race -coverprofile=coverage.txt -covermode=atomic ./...
after_success:
  - bash <(curl -s https://codecov.io/bash)